{{yield}}
{{#each alumns as |alumn|}}
<li class="dropable_list_element"><span class="main_info">{{alumn.fullName}}<i class="icon-keyboard_arrow_down"></i></span>
  <ul class="dropable_info">
    {{#each alumn.classunit as |classunit|}}
    <li>
      <span class="remarkable">{{weekday classunit.day}}</span>
      from {{hour classunit.startTimeHours classunit.startTimeMinutes}} to {{hour classunit.endTimeHours classunit.endTimeMinutes}} at
      <span class="remarkable">{{classunit.center.name}}</span> <span class="extra_info">({{classunit.center.address}})</span>
    </li>
    {{/each}}
  </ul>
</li>
{{/each}}
