{{yield}}
<span class="main_info">{{dayName}}<i class="icon-keyboard_arrow_down"></i></span>
<ul class="dropable_info">
  {{#each classunits as |classunit|}}
  <li>
    On <span class="remarkable">{{classunit.center.name}}</span> <span class="extra_info">({{classunit.center.address}})</span>
    from {{hour classunit.startTimeHours classunit.startTimeMinutes}} to {{hour classunit.endTimeHours classunit.endTimeMinutes}}
  </li>
  {{/each}}
</ul>