{{yield}}
<span class="main_info">{{dayName}}<i class="icon-keyboard_arrow_down"></i></span>
<ul class="dropable_info">
  {{#each sortedClassunits as |classunit|}}
  <li>{{classunit.id}}
    With <span class="remarkable">{{classunit.alumn.fullName}}</span>
    on <span class="remarkable">{{classunit.center.name}}</span> <span class="extra_info">({{classunit.center.address}})</span>
    from {{hour classunit.beginningTime}} to {{hour classunit.conclusionTime}}
  </li>
  {{/each}}
</ul>