{{log classunits}}
{{#each classunits as |classunit key|}}
{{#if-conditional ifelse='if' arg1=classunit.center.name arg2='Creativa'}}
  <h2>{{classunit.center.name}}</h2>
{{/if-conditional}}
  <li>{{classunit.startTimeHours}}:{{classunit.startTimeMinutes}} - {{classunit.endTimeHours}}:{{classunit.endTimeMinutes}}</li>
{{/each}}
{{yield}}