{{#each classunits as |classunit key|}}
  <li>
{{#if-conditional ifelse='else' arg1=classunit.center.name arg2=(get classunits (concat (math key '-' 1) '.center.name'))}}
  <h2>{{classunit.center.name}}</h2>
{{/if-conditional}}
  {{classunit.startTimeHours}}:{{classunit.startTimeMinutes}} - {{classunit.endTimeHours}}:{{classunit.endTimeMinutes}}</li>
{{/each}}
{{yield}}