<div class="template_header">
  <h1>Class info</h1>
  <span class="btn primary" {{action "openCreationMode"}}>Add info to this class</span>
</div>
<div class="main_container">
  <dl class="regular_dl">
    <dt>Center: </dt>
    <dd>{{ model.center.name }}</dd>
    <dt>Alumn: </dt>
    <dd>{{model.alumn.fullName}}</dd>
    <dt>Day: </dt>
    <dd>{{weekday model.day}}</dd>
    <dt>Hour: </dt>
    <dd>{{hour model.beginningTime}} to {{hour model.conclusionTime}}</dd>
  </dl>
  <ul class="class_list">
  {{#each model.classinfo as |classinfo|}}
    {{classinfo-tag classinfo=classinfo isToggable=true isOpen=false}}
  {{/each}}
  </ul>
  {{#if isCreationMode}}
  {{#validated-form submit=(action 'addClassInfo') saveBtn=true class="form"}}

  {{/validated-form}}
  {{/if}}
</div>
{{outlet}}