<div class="template_header">
  <h1>Classes</h1>
  {{#link-to "add-classunit" class="btn primary"}}Add class <span class="icon-add_circle"></span>{{/link-to}}
</div>
<ul class="dropable_list">
{{#if model.mon}}
	{{class-list classunits=model.mon dayName=model.days.[0]}}
{{/if}}
{{#if model.tue}}
	{{class-list classunits=model.tue dayName=model.days.[1]}}
{{/if}}
{{#if model.wed}}
	{{class-list classunits=model.wed dayName=model.days.[2]}}
{{/if}}
{{#if model.thu}}
	{{class-list classunits=model.thu dayName=model.days.[3]}}
{{/if}}
{{#if model.fri}}
	{{class-list classunits=model.fri dayName=model.days.[4]}}
{{/if}}
{{#if model.sat}}
	{{class-list classunits=model.sat dayName=model.days.[5]}}
{{/if}}
{{#if model.sun}}
	{{class-list classunits=model.sun dayName=model.days.[6]}}
{{/if}}
</ul>
{{outlet}}