<div class="template_header">
  <h1>Classes</h1>
</div>
{{#each model as |class|}}
<p>{{class.day}}</p>
<p>{{class.startTimeHours}}:{{class.startTimeMinutes}}</p>
<p>{{class.endTimeHours}}:{{class.endTimeMinutes}}</p>
<p>{{class.center.name}}_</p>
<p>{{class.alumn.fullName}}</p>
<br>
{{/each}}
{{outlet}}