{{outlet}}
{{#each model as |class|}}
<p>{{class.day}}</p>
<p>{{class.startTimeHours}}:{{class.startTimeMinutes}}</p>
<p>{{class.endTimeHours}}:{{class.endTimeMinutes}}</p>
<p>{{class.center.id}}_</p>
<p>{{class.alumn.fullName}}</p>
<br>
{{/each}}